html,
body {
	background-color: rgb(27, 28, 29);
}

body {
	overflow: hidden;
}

img {
	display: none;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	min-width: 800px;
}

canvas {
	border: 4px solid aqua;
}

.info {
	font-family: sans-serif;
	font-size: 24px;
	color: #2af945;
}

h1 {
	margin: 0;
}
